page-home {
    ion-list h2.pad{
        margin-bottom: 10px !important;
    }
    .toggle-btn{
        margin-top: -40px!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .item-block{
        &:first-child {
            border-top: none !important;
        }
        &:last-child {
            border-bottom: none !important;
        }
    }
    .item-inner{
        padding-top: 5px!important;
        padding-bottom: 5px!important;
    }

}
