<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list text-wrap>
    <button ion-item no-padding>
      <h2 class="pad">Meu perfil</h2>
      <p>Edite sua descrição, foto de perfil, galeria de fotos, preferências, tipo de conta, etc.</p>
    </button>
    <ion-item no-padding>
      <ion-label>
      <h2 class="pad">Secretária eletrônica</h2>
      <p>Esta saudação é enviada da primeira vez que os clientes iniciam uma conversa com você.</p>
      </ion-label>
      <ion-toggle class='toggle-btn' checked="true" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item no-padding>
      <ion-label>
      <p>Olá agradeço sua mensagem. Não estou disponível no momento, entre em contato em breve. Beijokas!</p>
      </ion-label>
      <ion-icon name="md-create" item-end color='cinza'></ion-icon>
    </ion-item>
    <button ion-item no-padding>
      <h2 class="pad">Localização</h2>
      <p>Edite sua localização de acordo com seu local de atendimento para que as pessoas te encontrem.</p>
    </button>
    <button ion-item no-padding>
      <h2>Privacidade</h2>
    </button>
    <button ion-item no-padding>
      <h2>Suporte</h2>
    </button>
    <button ion-item no-padding>
      <h2>Desativar Perfil</h2>
    </button>
  </ion-list>
</ion-content>
